@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.cdnfonts.com/css/rammstein'); /*Ramm-Alphabet*/

@import url('https://fonts.cdnfonts.com/css/rammstein-remix'); /*Ramm-Nummern*/

@import url('https://fonts.cdnfonts.com/css/forerunner'); /*Forerunner*/

:root
{
    /*Shade*/
    --LED: #ffffff;
    --schwarz: #000000;
    --background-gray: #323232;
    --monitor: #28282880;
    --shadow: #282828;
    --forerunner-alloy: #737478;
    --forerunner-alloy-sand: #8f8b88;
    --forerunner-alloy-ridge: #5b5b5b;
    --forerunner-alloy-ridge-dark: #2b2d2c;
    --forerunner-alloy-ridge-light: #f0e7e0;
    /*covinant (purple)*/
    --dark-covi: #3f2e3e;
    --bloody-sangheili: #331c2c;
    --light-covi: #a78295;
    --bruise: #432D2F;
    --covi-wall: #241a3e;
    --soft-covi-wall: #544265;
    --covi-flor: #59357a;
    --soft-covi-flor: #826d87;
    /*forerunner (blue)*/
    --forerunner-beam: #66baff;
    --wraith-blue: #363045;
    --deep-soft-blue: #5c5470;
    --blue-gray: #b9b4c7;
    --deep-vintage-blue: #113946;
    --formal-blue: #5c96a9;
    /*civ. warthog (yellow)*/
    --civilian-wart: #C88B18;
    --sun:#F9B508;
    --home-wall: #efe1d1;
    --cream: #faf0e6;
    --yellow-wall: #fff2d8;
    --gray-wall: #ead7bb;
    --watered-coffee: #bca37f;
    /*duke (green)*/
    --h2-chief: #817F59;
    --h3-chief: #677156;
    --hi-chief: #778450;
    --light-vintage-green: #739072;
    --vintage-green: #4f6f52;
    --deep-vintage-green: #3a4d39;
    /*banished (red)*/
    --mark-of-atriox: #DF0024;
    --rdomnai-blade: #FE3558;
    --silent-shadow: #A23F61;
    --fall-leaf: #9C1F2D;
    --blood: #9A0005;
    /*sample box* (orange)*/
    --forerunner-conversion: #e09b4d;
    --orange-box: #DE571F;
    --orange: #DD7F0B;
    /*brute (brown*/
    /**/
    /**/
    /**/
    /**/

    /*
    !-THEME-! 
    - 
    Forerunner with hidden black and white (Dark mode) Toggle
    */
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html 
{
    scroll-behavior: smooth;
}

body
{
    display: grid;
    place-items: center;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: 
    radial-gradient(ellipse at -100% -100%, var(--LED) 0%, transparent 80%),
    radial-gradient(ellipse at 200% 200%, var(--shadow) 0%, transparent 60%);
    background-color: var(--forerunner-alloy);
    cursor: default;
}

::-webkit-scrollbar 
{
    width: 8px;
}

::-webkit-scrollbar-track 
{
    background: var(--forerunner-alloy-ridge);
}

::-webkit-scrollbar-thumb 
{
    background: var(--forerunner-beam);
}

::-webkit-scrollbar-thumb:hover 
{
    background: var(--forerunner-conversion);
}

/*nav*/

.nav-links li, .nav-links a
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--forerunner-beam);
    text-decoration: none;
}

header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--forerunner-alloy-ridge);
    border-bottom: 2px solid var(--forerunner-alloy-sand);
    user-select: none;
}

header b
{
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.Header-Bild
{
    width: 100px;
    cursor: default;
}

nav
{
    margin-right: 100px;
}

.nav-links
{
    list-style: none;
}

.nav-links li
{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a
{
    transition: 0.6s;
}

.nav-links li a:hover
{
    color: var(--forerunner-conversion);
    text-decoration-line: overline;
}

#NAV-Zertifikate
{
    text-decoration-line: overline;
}



@media (max-width: 1000px)
{
    .nav-links li, .nav-links a
    {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 30px;
    }

    header
    {
        width: 100vw;
        justify-content: center;
        border-bottom: 3px solid var(--forerunner-alloy-sand);
        text-align: center;
        z-index: 1;
    }

    header b
    {
        font-family: 'Forerunner', sans-serif;
        color: var(--forerunner-beam);
        font-size: 22px;
        opacity: 1;
        position: relative;
        list-style: none;
        margin-left: 30px;
        margin-right: 30px;
        transition: 0.6s;
    }

    header b:hover
    {
        color: var(--forerunner-conversion);
    }

    .Header-Bild
    {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    nav
    {
        margin-right: 0px;
    }

    .nav-links li
    {
        display: block;
        padding: 16px;
    }
}

/*Zertifikate*/ /*Zertifikate*/ /*Zertifikate*/ 

.Zertifikate
{
    width: 1800px;
    display: flex;
    flex-direction: column;
    user-select: none;
    text-align: center;
}

@media (max-width: 1800px)
{
    .Zertifikate
    {
        width: 1000px;
    }
}

@media (max-width: 1000px)
{
    .Zertifikate
    {
        width: 600px;
    }
}

@media (max-width: 600px)
{
    .Zertifikate
    {
        width: 400px;
    }
}

/*Vor- S*/ /*Vor- S*/ /*Vor- S*/ 

.S1 /*Addieren wenn mehr kommt*/
{
    height: 1400px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.S1
{
    margin-top: 100px;
}

.S1 /*Letztes Sektor (Ändern wenn mehr kommt)*/
{
    margin-bottom: 100px;
}

.Zertifikate img
{
    width: 800px;
    transition: 0.6s;
    vertical-align: middle;
    border-radius: 20px;
    user-select: none;
    border: 4px solid var(--forerunner-beam);
}

.Zertifikate img:hover
{
    border: 4px solid var(--forerunner-conversion);
}

#Strich
{
    width: 600px;
    border: 4px solid var(--forerunner-beam);
    border-radius: 10px;
    transition: 0.6s;
}

#Strich:hover
{
    border: 4px solid var(--forerunner-conversion);
}

#Textfeld
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

#Text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 186, 255, 0.6);
    border: 3px solid var(--forerunner-beam);
    color: var(--forerunner-beam);
    padding: 2px 12px 2px 12px;
    transition: 0.6s;
    border-radius: 15px;
}

#Text:hover
{
    background-color: rgb(224, 155, 77, 0.6);
    border: 3px solid var(--forerunner-conversion);
}

#Text:hover div
{
    color: var(--forerunner-conversion);
}

#Text b
{
    font-weight: 800;
    font-size: 30px;
    transition: 0.6s;
}

#Text-F
{
    font-family: 'Forerunner', sans-serif;
    margin-bottom: 30px;
}

#Text-O
{
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 1800px)
{
    .S1, .S2, .S3, .S4, .S5, .S6 /*Addieren wenn mehr kommt*/
    {
        flex-direction: column;
        height: 1050px;
        margin-top: 90px;
        margin-bottom: 90px;
    }

    .Zertifikate img
    {
        width: 550px;
    }

    #Strich
    {
        width: 400px;
    }

    #Textfeld
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }

    #Text b
    {
        font-size: 22px;
    }

    #Text-F
    {
        margin-bottom: 20px;
    }
}

@media (max-width: 1000px)
{
    .S1, .S2, .S3, .S4, .S5, .S6 /*Addieren wenn mehr kommt*/
    {
        flex-direction: column;
        height: 700px;
    }

    .Zertifikate img
    {
        width: 350px;
    }

    #Strich
    {
        height: 0px;
        width: 250px;
    }

    #Textfeld
    {
        width: 200px;
    }

    #Text
    {
        text-align: center;
    }

    #Text b
    {
        font-size: 14px;
    }

    #Text-F
    {
        margin-bottom: 10px;
    }
}

@media (max-width: 600px)
{
    .S1, .S2, .S3, .S4, .S5, .S6 /*Addieren wenn mehr kommt*/
    {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .S1, .S2, .S3, .S4, .S5 /*Addieren wenn mehr kommt*/
    {
        height: 750px;
    }

    .Zertifikate img
    {
        width: 380px;
    }

    #Strich
    {
        width: 250px;
    }

    #Textfeld
    {
        width: 300px;
    }

    #Text b
    {
        font-size: 20px;
    }
}

/*S1*/ /*S1*/ /*S1*/ 

/*S2*/ /*S2*/ /*S2*/ 

/*S3*/ /*S3*/ /*S3*/ 

/*S4*/ /*S4*/ /*S4*/ 

/*S5*/ /*S5*/ /*S5*/ 

/*S6*/ /*S6*/ /*S6*/ 

/*Footer*/ /*Footer*/ /*Footer*/ 

footer
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--forerunner-alloy-ridge);
    border-top: 2px solid var(--forerunner-alloy-sand);
    user-select: none;
}

.Footer-Überbilder
{
    opacity: 1;
    position: relative;
    width: 300px;
    z-index: 1;
}

.Footer-Überbilder img, .Footer-Unterbilder img
{
    width: 150px;
    vertical-align: middle;
}

.Footer-Üb-Bild
{
    position: absolute;
    transition: 0.6s;
}

.Footer-Üb-Bild:hover
{
    opacity: 0;
}

.Footer-Knopf
{
    width: auto;
    text-align: center;
}

.Footer-Knopf a
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: var(--forerunner-beam);
    text-decoration: none;
    transition: 0.6s;
}

.Footer-Knopf a:hover
{
    color: var(--forerunner-conversion);
    text-decoration-line: underline;
    text-underline-offset: 6px;
}

.Footer-Leitung
{
    width: 300px;
    text-align: center;
}

.Footer-Leitung a
{
    font-weight: 500;
    font-size: 30px;
    color: var(--forerunner-beam);
    font-family: 'Forerunner', sans-serif;
    transition: 0.6s;
    text-decoration: none;
}

.Footer-Leitung a:hover
{
    color: var(--forerunner-conversion);
    text-decoration: underline;
}

.Footer-Unterbilder
{
    opacity: 0;
    position: absolute;
}

.Footer-Ub-Bild
{
    position: absolute;
    transition: 0.6s;
}

.Footer-Ub-Bild:hover
{
    opacity: 0;
}



@media (max-width: 1000px)
{
    footer
    {
        width: 100vw;
        flex-direction: column;
        border-top: 3px solid var(--forerunner-alloy-sand);
    }

    .Footer-Überbilder
    {
        margin-left: 30%;
        width: fit-content;
    }

    .Footer-Leitung
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Footer-Überbilder
    {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .Footer-Unterbilder
    {
        opacity: 1;
        position: relative;
        width: auto;
    }
}